body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test {
  background-color: lightblue;
}

.login {
  background-image: url(https://res.cloudinary.com/karen491/image/upload/v1599304251/oblekco/run-background_ezvsdl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-text {
  font-family: cursive;
}

.authform-card {
  border-radius: 10%;
}

.authform-button {
  background-color: rgba(185, 60, 14, 0.863);
  color: white;
  font-size: 16px;
  border: solid 1px rgba(185, 60, 14, 0.863);
  padding: 8px;
}

.navbar {
  background-color: rgba(134, 48, 17, 0.863);
}

.nav-title-text {
  font-family: cursive;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 25px; 
}

.nav-title-text:hover {
  text-decoration: none;
  color: white;
}

.nav-text {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 20px;
}

.nav-text:hover {
  text-decoration: none;
  color: white;
}

.runform-button {
  background-color: rgba(185, 60, 14, 0.863);
  color: white;
  font-size: 16px;
  border: solid 1px rgba(185, 60, 14, 0.863);
  padding: 8px;
}

.run-card {
  border-radius: 2%;
  border: solid 2px rgba(185, 60, 14, 0.863);
}



